.loginWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: black;
  z-index: 999;
}

.modalWrapper {
  width: 30rem;
  height: 38.563rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #fff;
  position: relative;
}

.closeBtn {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  background: 0;
}

.modal-wrapper > img {
  width: 45%;
}

.loginForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.loginForm > input {
  width: 100%;
  height: 3rem;
  margin-bottom: 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #c7c7c7;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.loginInfoSet {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #838383;
  font-weight: 300;
  margin-top: 1rem;
}

.loginInfoSet label {
  margin-left: 0.8rem;
}

.loginInfoSet > button {
  display: inline-block;
  background: 0;
  color: #838383;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
}

.loginButtonList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

.loginButtonList > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.3rem;
}

.loginButtonList > button:first-child {
  background-color: #000;
  color: #fff;
}

.loginButtonList > button:nth-child(2) {
  color: #000;
  background: url("/images/kakako-logo.png") no-repeat #fee500;
  background-position: 5rem center;
  background-size: 1.5rem;
}

.loginButtonList > button:last-child {
  color: #fff;
  background: url("/images/naver-logo.png") no-repeat #09c73f;
  background-position: 5.2rem center;
  background-size: 1rem;
}
/*# sourceMappingURL=login.module.css.map */