.empty {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  line-height: 100px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 2rem;
  color: gray;
}

.list {
  width: 100%;
  margin-top: 1rem;

  li {
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-bottom: 0.5rem;

    span {
      color: red;
      margin-right: 0.5rem;
    }
  }
}
