@import "../common/scss/variables";
@import "../common/scss/mixins";
@import "./postResponsive.scss";

.wrapper {
  box-sizing: border-box;
  padding: 1rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.3rem;
  border-bottom: 1px solid #707070;
  box-sizing: border-box;
  margin-bottom: 2rem;

  h3 {
    font-size: 2em;
    font-weight: 700;
  }

  img {
    margin-right: 0.5rem;
  }
}

.contentsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.postWrapper {
  h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }
  .postContentsWrapper {
    width: 100%;
  }
}

.postContents {
  margin-bottom: 3rem;
  position: relative;

  h5 {
    text-shadow: #fff 0px 1px 1px;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1.4rem;
    span {
      display: block;
      color: gray;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }

  .radioWrapper {
    width: 100%;
    display: flex;
    margin-top: 1rem;
  }
}

.postTypeRadio {
  position: relative;
  width: 100%;
  p {
    cursor: pointer;
  }

  input[type="radio"] + label {
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    border-color: #ddd;
    font-size: 1.2rem;
    border: 1px solid hsl(0, 0%, 89%);
    font-weight: 700;

    p {
      margin-top: 1rem;
    }
  }

  input[type="radio"]:checked + label {
    background-image: none;
    background-color: #000;
    color: #fff;
    background-image: url("/images/icon-check.svg");
    background-repeat: no-repeat;
  }

  .typeLabel {
    background-repeat: no-repeat;
    background-image: url("/images/icon-box.svg");
  }
  .termLabel {
    background-image: url("/images/icon-calender.svg");
    background-repeat: no-repeat;
  }
}

/* 위치 검색 */
.contentsBox {
  width: 100%;
}
.textWrapper {
  width: 100%;
  display: flex;
  position: relative;

  input[type="text"] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid hsl(0, 0%, 89%);
    font-size: 1.4rem;
    padding: 0.3rem;
  }

  .gpsBtn {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    cursor: pointer;
    background-color: transparent;

    img {
      width: 70%;
    }
  }
}

.selectList {
  width: 100%;
  height: 3rem;
  font-size: 1.125rem;
  border: 1px solid hsl(0, 0%, 89%);
  box-sizing: border-box;
  padding-left: 1rem;
  font-weight: 500;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background-color: red;
  background: url("/images/icon-select.svg") no-repeat 95% 50%;
}

/* 이미지 업로드 */
.imageUploadWrapper {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(151px, 1fr));
  row-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;

  input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }

  label,
  .imagePreviews {
    width: 151px;
    height: 151px;
    display: block;
    border: 1px solid #e4e4e4;
    font-size: 18px;
    text-align: center;
  }

  .imagePreviews {
    overflow: hidden;
    position: relative;

    .closeBtn {
      position: absolute;
      color: #fff;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }

    img {
      width: 151px;
      height: 151px;
      -o-object-fit: cover;
      object-fit: cover;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  label {
    box-sizing: border-box;
    padding-top: 5rem;
    background: url("/images/icon-plus.png") no-repeat;
    background-position: center 50px;
    color: gray;
  }
}

/* 대여 조건 */

.inputWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  p {
    font-size: 2rem;
  }

  input {
    height: 3rem;
    font-size: 1.125rem;
    border: 0;
    border-bottom: 1px solid hsl(0, 0%, 89%);
    box-sizing: border-box;
    padding-left: 0.5rem;
    text-align: center;
  }
  .inputTerm {
    width: 30%;
  }
  .rentalFeeSelect {
    width: 41%;
  }
  .depositInput {
    width: 60%;
  }
  .rentalFee {
    width: 48%;
  }
}

.searchBtn {
  width: 200px;
  height: 3rem;
  margin-left: 0.5rem;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  background-repeat: no-repeat;
  background-position: center right 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.submitBtn {
  display: block;
  width: 12.5rem;
  height: 3.063rem;
  font-size: 1.25rem;
  background-color: #000;
  margin: 0 auto;
  color: #fff;
  border-radius: 3rem;
  cursor: pointer;
  margin-bottom: 10rem;
}
