@import "../common/scss/variables.scss";
@import "../common/scss/mixins";
@import "./userInfoResponsive.scss";

.wrapper {
  display: grid;
  position: relative;

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h4 {
    font-weight: 700;
  }
}
