@charset "UTF-8";
/* 헤더 > 메뉴 카테고리 > 전체 메뉴 영역 */
/* _variable.scss */
/* _mixins.scss */
/* _variable.scss */
@media only screen and (min-width: 360px) and (max-width: 719px) {
  .lnbWrapper {
    width: 80%;
    height: 100vh;
    right: 0;
  }
  .lnbWrapper .lnbNav {
    width: 100%;
    -ms-grid-rows: 3rem 1fr;
        grid-template-rows: 3rem 1fr;
    -ms-grid-template-rows: 3rem 1fr;
    display: -ms-grid;
    display: grid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .lnbNav .lnbItem {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .lnbNav .lnbItem li {
    font-weight: 300;
  }
  .lnbNav .lnbItem:first-child {
    grid-row: 2/3;
    -ms-grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    width: 100%;
    line-height: 3rem;
    -ms-grid-rows: (3rem)[8];
        grid-template-rows: repeat(8, 3rem);
  }
  .lnbNav .lnbItem:first-child li {
    border-bottom: 1px solid #dfdfdfab;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 2rem;
  }
  .lnbNav .lnbItem:first-child li:first-child {
    display: none;
  }
  .lnbNav .lnbItem:last-child {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    grid-row: 1/2;
    -ms-grid-row: 1/2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #dfdfdfab;
  }
  .lnbNav .lnbItem:last-child li {
    font-weight: 900;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lnbNav .lnbItem:nth-child(2),
  .lnbNav .lnbItem:nth-child(3),
  .lnbNav .lnbItem:nth-child(4) {
    display: none;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1199px) {
  .lnbWrapper {
    width: 80%;
    height: 100vh;
    right: 0;
  }
  .lnbWrapper .lnbNav {
    width: 100%;
    -ms-grid-rows: 150px 1fr;
        grid-template-rows: 150px 1fr;
    -ms-grid-template-rows: 150px 1fr;
    display: -ms-grid;
    display: grid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .lnbNav .lnbItem {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .lnbNav .lnbItem li {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 2.188rem;
  }
  .lnbNav .lnbItem:first-of-type {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-rows: (100px)[8];
        grid-template-rows: repeat(8, 100px);
    -ms-grid-template-rows: repeat(8, 100px);
  }
  .lnbNav .lnbItem:first-of-type li {
    line-height: 100px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-bottom: 1px solid #dfdfdfab;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 3rem;
  }
  .lnbNav .lnbItem:first-of-type li:first-child {
    display: none;
  }
  .lnbNav .lnbItem:last-child {
    width: 100%;
    height: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 3rem;
    padding-right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #dfdfdfab;
  }
  .lnbNav .lnbItem:last-child li {
    font-weight: 900;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lnbNav .lnbItem:nth-child(2),
  .lnbNav .lnbItem:nth-child(3),
  .lnbNav .lnbItem:nth-child(4) {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .fakeBox {
    display: none;
  }
  .lnbWrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lnbWrapper .lnbNav {
    width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: repeat(12, 1fr);
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -webkit-column-gap: 27px;
            column-gap: 27px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    overflow: hidden;
  }
  .lnbNav .lnbItem li {
    font-weight: 300;
    line-height: 2.188rem;
  }
  .lnbNav .lnbItem li:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .lnbNav .lnbItem:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .lnbNav .lnbItem:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .lnbNav .lnbItem:nth-child(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
  }
  .lnbNav .lnbItem:nth-child(4) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
  }
  .eventBanner {
    border-radius: 0.5rem;
    height: 60%;
    background-image: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
}

.fakeBox {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.lnbWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  overflow: hidden;
  z-index: 9;
  background-color: #fff;
}

.lnbWrapper .lnbNav {
  overflow: hidden;
}

.lnbItem:last-child {
  display: none;
}
/*# sourceMappingURL=category.module.css.map */